/* 
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
}
.child-div {
  background-color: #fff;
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 700px;
}
.title {
  color: #000000;
  text-align: center;
  font-weight: 600;
  margin-bottom: 35px;
}
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 25px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}
.form-group input {
  padding: 10px 12px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}
.form-group input::placeholder {
  color: #aaa;
}
.back {
  position: absolute;
  top: 20px;
  left: 20px;
  background: black;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
}
.back:hover {
  background: rgb(255, 255, 255);
  color: #000000;
}
.btn button {
  background: #000000;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.btn button:hover {
  background:#fffcfc;
  color: #000000;
} */