   /* * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: #000000;
  font-weight: 700;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}
thead {
  background-color: #000000;
  color: white;
}


th {
  padding: 15px 20px;
  text-align: left;
  font-size: 16px;
}
td {
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  color: #555;
}
tbody tr:hover {
  background-color: #e4e4e4;
  cursor: default;
}
.back1 {
  font-size: 1.7rem;
  background-color: #000000;
  color: white;
    position: absolute; 
  top: 20px;
  left: 20px;
  z-index: 10;
}
.back {
  font-size: 1.7rem;
  background-color: #000000;
  color: white;
  position: absolute; 
  top: 20px;
  right: 20px;
  z-index: 10;
} */