 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #caa3a3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  color: #996b6b;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}
.form-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: row; */
  background: linear-gradient(135deg, #dddbda, #c78282e0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 700px; 
   height: 300px; 
  row-gap: 20px;
  column-gap: 10px;
  border-top: 3px solid rgba(177, 126, 134, 0.726);
  border-right: 3px solid rgba(168, 108, 117, 0.747);
  border-bottom: 3px solid rgba(184, 131, 138, 0.911);
   border-left: 3px solid rgba(177, 126, 134, 0.726);
}
label{
  font-weight: 600;
  color: #996b6b;
}
.form-group{
  display: flex;
  flex-direction: column;
  width: 100%;
}
input{
  border: 1px solid palevioletred;
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
  background: linear-gradient(135deg, #ffffff, #b97f7f);
}
.form-group1{
  display: flex;
  flex-direction: column;   
  width: 100%;
} 
