/* .container {
  display: flex;
  justify-content: flex-end;  
  gap: 10px;                  
  padding: 10px 20px;
}
.addUserBtn {
  background-color: #fdfdfd; 
  color: black;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addUserBtn:hover {
  background-color: #525752;
}


.back1 {
  background-color: #000000; 
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 35px;
  right: 20px;
}

.back1:hover {
  background-color: #54575a;
}


.back {
  background-color: #000000; 
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
    position: absolute;
  top: 35px;
  left: 20px;
}

.back:hover {
  background-color: #515559;
}
.deleteBtn {
  margin-left: 3px;
background-color: rgba(219, 14, 14, 0.815); 
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.deleteBtn:hover {
  background-color: rgb(214, 28, 28);
}
.addBtn{
    margin-left: 3px;
  background-color: rgb(0, 0, 0); 
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.addBtn:hover {
background-color: #ffffffab;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

thead tr {
  background-color: #000000;
  color: white;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}
tbody tr:hover{
  background-color: #c8c0c0;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  text-align: center;
  color: #000000;
}
 */
