/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* .main-container {
  display: flex;
  height: 100vh; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9fafb;
  overflow: hidden;
}


.left-div {
  width: 220px;                
  height: 100%;
  background-color: #000000;  
  color: white;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
} */
/* .title {
  align-items: center;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}
.nav-items {
  padding: 12px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 12px;
  transition: background-color 0.3s ease;
  color: white;
} */
/* .nav-items a {
  color: inherit;
  text-decoration: none;
  display: block;
}
.nav-items:hover {
  background-color: #ffffff;
  color: #000000;
}
.right-div {
  flex: 1;                   
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
  overflow-y: auto;          
  height: 100%;             
} */
/* .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;

}
.box1 {
  background-color: #fffdfd;
  color: black;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  user-select: none;
  transition: transform 0.3s ease;
  cursor: default;
}

.box1:hover {
  transform: translateY(-5px);
} */
